/Clase03/Saludo/nbproject/private/
/Clase03/Saludo/build/
/Clase04/EjemploMath/nbproject/private/
/Clase04/EjemploMath/build/
/Clase04/EquipoFutbol/nbproject/private/
/Clase04/EquipoFutbol/build/
/Clase04/Veterinaria/nbproject/private/
/Clase04/Veterinaria/build/